@keyframes catRun {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes coloredBarRun {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.loader-container {
    position: relative;
    height: 130px;
}

.colored-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    background: #ff0000;
    animation: coloredBarRun 6s linear infinite;
    z-index: 0;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 500px;
    background: #aaa5a591;
    border: 5px solid #fff;
    overflow: hidden;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    z-index: 1;
}

.running-cat {
    position: absolute;
    bottom: 72px;
    right: 10px;
    height: 100px;
    animation: catRun 5s linear infinite;
    z-index: 2;
}
